/*** Aligned Compect Messages ***/
[class*="compact-"] > [class*="contents-"] {
	display: flex;
}
[class*="compact-"] > [class*="contents-"] > [class*="header-"] {
	display: inline-flex;
	width: 150px;
	margin-left: -5rem;
	flex-shrink: 0;
	text-indent: 0;
}
[class*="compact-"] [id*="message-username-"] {
	flex: 1 1 0;
	white-space: nowrap;
	margin-inline: .4em !important;
	display: flex;
	text-align: right;
}
[class*="compact-"] [id*="message-username-"] > [class*="username-"] {
	width: 0;
	flex-grow: 1;
	text-overflow: ellipsis;
}
[class*="compact-"]:not(:hover) [class*="timestampVisibleOnHover-"] {
	display: none;
}
[class*="compact-"] > [id*="message-accessories-"] {
	margin-left: 70px;
}