/*** Use a dot for colored usernames ***/
span[class*="username-"]::before {
    content: "";
    width: 1.375rem;
    height: 1.375rem;
    vertical-align: bottom;
    display: inline-flex;
    background-color: currentColor;
    border-radius: 100px;
    transform: scale(.5);
    margin-right: -.4em;
    transform-origin: left center;
}
span[class*="username-"] {
    -webkit-text-fill-color: var(--text-normal)
}