/*** Use a colored underline instead of colored names ***/
span[class*="username-"]::before {
    content: "";
    position: absolute;
    width: 100%;
    height: .1em;
    background-color: currentColor;
    border-radius: 100px;
    bottom: 0;
}
span[class*="username-"] {
    -webkit-text-fill-color: var(--text-normal);
    text-decoration: none !important;
	height: max-content;
	position: relative
}
