/*** Loading Messages Animation ***/
[class*="blob-"]:nth-child(1),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
  animation: fadeAnim 0.7s 0.1s infinite alternate !important;
}
[class*="blob-"]:nth-child(2),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
  animation: fadeAnim 0.7s 0.2s infinite alternate !important;
}
[class*="blob-"]:nth-child(3),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
  animation: fadeAnim 0.7s 0.3s infinite alternate !important;
}
[class*="blob-"]:nth-child(4),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
  animation: fadeAnim 0.7s 0.4s infinite alternate !important;
}
[class*="blob-"]:nth-child(5),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
  animation: fadeAnim 0.7s 0.5s infinite alternate !important;
}
[class*="blob-"]:nth-child(6),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
  animation: fadeAnim 0.7s 0.6s infinite alternate !important;
}
[class*="blob-"]:nth-child(7),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
  animation: fadeAnim 0.7s 0.7s infinite alternate !important;
}
[class*="blob-"]:nth-child(8),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
  animation: fadeAnim 0.7s 0.8s infinite alternate !important;
}
[class*="blob-"]:nth-child(9),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
  animation: fadeAnim 0.7s 0.9s infinite alternate !important;
}
[class*="blob-"]:nth-child(10),
[style*="opacity: 0.03"],
[style*="opacity: 0.08"] {
  animation: fadeAnim 0.7s 1s infinite alternate !important;
}
@keyframes fadeAnim {
  from {
    filter: opacity(1);
  }
  to {
    filter: opacity(0.4);
  }
}