/*** Loading Messages Animation ***/
@keyframes fadeAnim {
    from { filter: opacity( 1); }
    to   { filter: opacity(.4); }
}
for row in (1..10) {
    [class*="blob-"]:nth-child({row}),
    [style*="opacity: 0.03"], [style*="opacity: 0.08"] {
        animation: fadeAnim .7s .1s * row infinite alternate !important;
    }
}