[class*="jumpToPresentBar"] {
	display: contents;
}
[class*="jumpToPresentBar"] > button:first-child {
	display: none;
}
[class*="jumpToPresentBar"] > button:last-child {
	position: absolute;
	bottom: 15px;
	right: 16px;
	padding: 8px !important;
	height: auto;
	background-color: var(--background-floating);
	box-shadow: var(--elevation-high);
	border-radius: 100px;
	display: flex;
	font-size: 0;
	color: transparent;
	transition: font-size .2s .1s, color .2s, padding .4s .1s;
}
[class*="jumpToPresentBar"] > button svg {
	order: -1;
	margin: 0;
	height: 24px;
	width: 24px;
	top: unset;
	margin-right: 2px;
	margin-left: 0;
	margin-right: 0;
	color: var(--text-normal);
	transition: margin .6s;
}

[class*="jumpToPresentBar"]:hover > button {
	padding: 8px 18px !important;
	font-size: 14px;
	color: var(--text-normal);
	transition: font-size .2s, color .2s .1s, padding .4s;
}
[class*="jumpToPresentBar"]:hover > button svg {
	margin-right: 2px;
	margin-left: -6px;
}